.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gameSquareFrame{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameSquare {
  padding: 10px;
  width: 330px;
  height: 330px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}

